<section data-ng-init="find()">
  <div class="jumbotron">
    <div class="container">
      <ul class="alphabet">
        <li ng-repeat="char in alphabet">
          <span ng-click="filterByAlphabet(char)">{{char}}</span>
        </li>
      </ul>
      <ul class="genres">
        <li ng-repeat="medium in mediums">
          <span ng-click="filterByMedium(medium)">{{medium}}</span>
        </li>
      </ul>
    </div>
  </div>
  <!--
  <div id="select">
    <div>


      Search:
      <input ng-model="query"> Sort by:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="artist">Artist</option>
      </select>

    </div>
    
    
  </div>
  <ul class="works unstyled">
    <li data-ng-repeat="picture in pictures | filter:query | orderBy:orderProp">
      <h2>
 
          <a class="btn" href="/picture/{{picture._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(picture);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
   
      </h2>
      <div id="smallDiv">
        <img src="{{picture.picture}}"></img>
        <p id="workcontent">{{picture.artist}}
          <br>{{picture.title}}
          <br>{{picture.medium}}</p>
      </div>
    </li>
  </ul>
  <h1 data-ng-hide="!pictures || pictures.length">No works yet. <br> Why don't you <a href="/pictures/create">Create One</a>?</h1>
</section>
-->
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{headingTitle}}
        <div class="pull-right">
          <input class="search" type="text" ng-model="query.name" placeholder="Search...">
        </div>
      </div>
      <div class="panel-body">
        <div class="row show-list">
          <div class="col-xs-4 col-md-3" ng-repeat="picture in pictures | filter:query | orderBy:orderProp">
            <a href="/picture/{{picture._id}}">
              <img class="img-rounded" ng-src="{{picture.picture}}" width="100%" />
            </a>
            <span>
              <a class="btn" href="/picture/{{picture._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn" data-ng-click="remove(picture);">
              <i class="glyphicon glyphicon-trash"></i>
              </a>
            </span>
            <div class="text-center">
              <a href="/picture/{{picture._id}}">{{show.name}}</a>
              <!--  <p class="text-muted">Episodes: {{show.episodes.length}}</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 data-ng-hide="!pictures || pictures.length">No images yet. <br> Why don't you <a href="/picture">Create One</a>?</h1>
</section>